@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

@import "tailwindcss";

@source "../../../packages/ui-admin/src";

@theme {
  --font-*: initial;
  --font-notosans: "Noto Sans KR";

  --text-title-md: 36px;
  --text-title-md--line-height: 44px;
  --text-title-sm: 30px;
  --text-title-sm--line-height: 38px;
  --text-theme-sm: 14px;
  --text-theme-sm--line-height: 20px;
  --text-theme-xs: 12px;
  --text-theme-xs--line-height: 18px;

  --color-white: #ffffff;
  --color-black: #101828;

  --color-brand-25: #fff5f8;
  --color-brand-50: #ffeef4;
  --color-brand-100: #ffdbe7;
  --color-brand-200: #ffbcd3;
  --color-brand-300: #ff8fb5;
  --color-brand-400: #ff6095;
  --color-brand-500: #f580ab;
  --color-brand-600: #e04a82;
  --color-brand-700: #c23365;
  --color-brand-800: #a12c56;
  --color-brand-900: #86294a;
  --color-brand-950: #52132a;

  --color-gray-25: #fcfcfd;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f2f4f7;
  --color-gray-200: #e4e7ec;
  --color-gray-300: #d0d5dd;
  --color-gray-400: #98a2b3;
  --color-gray-500: #667085;
  --color-gray-600: #475467;
  --color-gray-700: #344054;
  --color-gray-800: #1d2939;
  --color-gray-900: #101828;
  --color-gray-950: #0c111d;

  --color-success-50: #ecfdf3;
  --color-success-100: #d1fadf;
  --color-success-300: #6ce9a6;
  --color-success-400: #32d583;
  --color-success-500: #12b76a;
  --color-success-600: #039855;
  --color-success-700: #027a48;

  --color-error-50: #fef3f2;
  --color-error-100: #fee4e2;
  --color-error-200: #fecdca;
  --color-error-300: #fda29b;
  --color-error-400: #f97066;
  --color-error-500: #f04438;
  --color-error-600: #d92d20;
  --color-error-700: #b42318;
  --color-error-800: #912018;

  --color-warning-50: #fffaeb;
  --color-warning-100: #fef0c7;
  --color-warning-300: #fec84b;
  --color-warning-500: #f79009;
  --color-warning-600: #dc6803;
}

@layer base {
  html,
  body {
    min-height: 100%;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  body {
    @apply font-notosans bg-gray-50 font-normal text-gray-800;
  }
}
